<div class="block-blog-info">
    <div class="block-blog-info__inner">
        <h3 class="heading">  <a class="blog-readmore" href="{{post.link}}">{{post.post_title}}</a></h3>

        <div class="blog-info-bar">
            <div class="blog-info-bar__inner">
                <div class="blog-user">
                    <i class="fa blog-info-icons fa-pencil" aria-hidden="true"></i><span class="blog-info-user">{{post.author.name}}</span>
                </div>
                <div class="blog-date">
                    <i class="fa blog-info-icons fa-calendar" aria-hidden="true"></i><span class="blog-info-user">{{post.post_date|date}}</span>
                </div>
            </div>
        </div>

        {% if post.thumbnail.src %}
        <div class="blog-thumb" style="background-image: url('{{post.thumbnail.src}}')"></div>
        {% endif %}

        <div class="blog-caption">
            <p class="blog-caption-p">{{post.post_content|excerpt(40)}}</p>
            <a class="blog-readmore" href="{{post.link}}">Read More</a>
        </div>

        {% include 'block-blog-social-share.twig' with {'post': post, 'class': 'block-blog-social-share--blog-thumb'} %}
    </div>
</div>