<section class="section-getestimate">
	<div class="getestimate-inner">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="text-center mb30">{{data.estimate_heading}}</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
				<div class="content-wrapper">
					<div class="img-wrapper">
						<img src="{{data.estimate_warranty_work_form_image}}">
					</div>
					<div class="text-wrapper">
						{{data.estimate_warranty_work_form_title}}
					</div>
				</div>
				<div class="content-wrapper">
					<div class="img-wrapper">
						<img src="{{data.estimate_bring_equipment_image}}">
					</div>
					<div class="text-wrapper">
						{{data.estimate_bring_equipment_title}}
					</div>
				</div>
				<div class="content-wrapper">
					<div class="img-wrapper">
						<img src="{{data.estimate_ticket_assigned_image}}">
					</div>
					<div class="text-wrapper">
						{{data.estimate_ticket_assigned_title}}
					</div>
				</div>
				<div class="content-wrapper">
					<div class="img-wrapper">
						<img src="{{data.estimate_technician_problem_image}}">
					</div>
					<div class="text-wrapper">
						{{data.estimate_technician_problem_title}}
					</div>
				</div>
				<div class="content-wrapper remove_gap">
					<div class="img-wrapper">
						<img src="{{data.estimate_get_approval_image}}">
					</div>
					<div class="text-wrapper">
						{{data.estimate_get_approval_title}}
					</div>
				</div>
				<div class="content-wrapper">
					<div class="img-wrapper">
						<img src="{{data.estimate_work_on_camera_image}}">
					</div>
					<div class="text-wrapper">
						{{data.estimate_work_on_camera_title}}
					</div>
				</div>
				<div class="content-wrapper no_bg">
					<div class="img-wrapper">
						<img src="{{data.estimate_ship_you_back_image}}">
					</div>
					<div class="text-wrapper">
						{{data.estimate_ship_you_back_title}}
					</div>
				</div>
				<div class="text-center mt70">	
					<a href="{{data.estimate_get_an_estimate_btn_link}}" class="btn btn-blue mb20">{{data.estimate_get_an_estimate_btn_text}}</a>
					<a href="{{data.estimate_shipping_form_btn_link}}" class="btn btn-red mb20">{{data.estimate_shipping_form_btn_text}}</a>
				</div>
					<!-- <div id="exTab1" class="process_image_wrapper">						
						<img class="desktop" src="{{theme_opt.estimate_process_image_desktop.url}}" />
						<img class="mobile" src="{{theme_opt.estimate_process_image_mobile.url}}" />
					</div>       
					<div class="text-center mt20">	
						<ul  class="getestimate_bottom_btns">
							<li class="active">
						        <a  href="{{data.estimate_get_an_estimate_btn_link}}">{{data.estimate_get_an_estimate_btn_text}}</a>
							</li>
							<li>
								<a href="{{data.estimate_shipping_form_btn_link}}" target="_blank">{{data.estimate_shipping_form_btn_text}}</a>
							</li>
						</ul>
					</div> -->
				</div>
			</div>	
		</div>
	</div>
</section>