<div class="block-blog-social-share {{class}}">
    <div class="block-blog-social-share__inner">
        <a target="_blank" href="https://www.facebook.com/sharer.php?u={{post.link}}">
        	<img class="social-icons" src="{{theme.link}}/images/fb-share.jpg"/>
        </a>
        <a target="_blank" href="https://twitter.com/intent/tweet?url={{post.link}}&text={{post.post_title}}">
        	<img class="social-icons" src="{{theme.link}}/images/tweet-share.jpg"/>
        </a>
        <a target="_blank" href="https://pinterest.com/pin/create/bookmarklet/?media={{post.thumbnail.src}}&url={{post.link}}&description={{post.post_content|excerpt(40)}}
">
        	<img class="social-icons" src="{{theme.link}}/images/pin.jpg"/>
        </a>
        <a target="_blank" href="https://plus.google.com/share?url={{post.link}}">
        	<img class="social-icons" src="{{theme.link}}/images/g-share.jpg"/>
        </a>
    </div>					        	
</div>