<footer>
	<div class="inner">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-2 col-sm-2">
					<h6>{{data.footer_quick_link_title}}</h6>
					{{data.menu_quick_html}}
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3">
					<h6>{{data.footer_repair_service_title}}</h6>
					{{data.menu_repair_html}}
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3">
					<h6>{{data.footer_follow_title}}</h6>
					<ul class="social-icons">
						<li><a href="{{data.footer_facebook_link}}" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i><span>Facebook</span></a></li>
						<li><a href="{{data.footer_twitter_link}}" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i><span>Twitter</span></a></li>
						<li><a href="{{data.footer_linkedin_link}}" class="linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i><span>Linkedin</span></a></li>
						<li><a href="{{data.footer_yelp_link}}" class="yelp"><i class="fa fa-yelp" aria-hidden="true"></i><span>Yelp</span></a></li>
						<li><a href="{{data.footer_youtube_link}}" class="youtube"><i class="fa fa-youtube" aria-hidden="true"></i><span>Youtube</span></a></li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-4 text-center logo-wrapper">
					<div><a href="{{data.footer_chrysler_camera_link}}" target="_blank"><img src="{{data.footer_chrysler_camera_logo_url}}"></a></div>
					<div><a href="{{data.footer_citysearch_link}}" target="_blank"><img src="{{data.footer_citysearch_logo_url}}"></a></div>
					<div class="repair-wrapper">
						<a href="{{data.footer_repair_link}}" target="_blank"><img src="{{data.footer_repair_logo_url}}"></a>
						<a href="{{data.footer_accredited_link}}" target="_blank"><img src="{{data.footer_accredited_logo_url}}"></a>
					</div>
					<div><a href="{{data.footer_yelp_link}}" target="_blank"><img src="{{data.footer_yelp_logo_url}}"></a></div>
				</div>
			</div>
		</div>
	</div>
</footer>

<div class="copyright-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<span>{{data.copyright_text}}</span>
				<img src="{{data.footer_copyright_logo_url}}">
			</div>
		</div>
	</div>
</div>