<header>
	<div class="container">
		<nav>
			<div class="nav-inner">
				<a class="site-logo" href="{{data.site_url}}">
					<img src="{{data.logo_url}}">
				</a>
				<div class="site-menu">
					{{data.menu_html_desktop}}
					<div class="menubtn-mobile visible-xs visible-sm visible-md">
		                <a id="nav-toggle" href="#" class=""><span></span></a>
		            </div>
				</div>
			</div>
		</nav>
	</div>
</header>

<div class="slide-btn-section">
	<div class="social-icons">
		<a id="social_sharing_phone" class="slide-btn icon_phone" href="tel:{{data.theme_opt.contact_phone_text}}">
			<span>
				<i></i>
				<span class="text"> {{data.theme_opt.contact_phone_text}}</span>
			</span>
		</a>
		<a id="social_sharing_email" class="slide-btn icon_email" href="mailto:{{data.theme_opt.contact_email_text}}">
			<span>
				<i></i>
				<span class="text"> {{data.theme_opt.contact_email_text}}</span>
			</span>
		</a>
		<a id="social_sharing_address" class="slide-btn icon_address" href="{{data.theme_opt.map_address_link}}" target="_blank">
			<span>
				<i></i>
				<span class="text">{{data.theme_opt.contact_address}}</span>
			</span>
		</a>
		<a id="social_sharing_hours" class="slide-btn icon_hours" href="{{data.theme_opt.contact_page_link}}">
			<span>
				<i></i>
				<!-- <span class="text">Hours</span> -->
				<span class="hours green text">Currently Open</span>
				<span class="closed red text">Currently Closed</span>
			</span>
		</a>
		<a id="social_sharing_estimate" class="slide-btn icon_estimate" href="{{data.theme_opt.estimate_link}}">
			<span>
				<i></i>
				<span class="text">Estimate</span>
			</span>
		</a>
	</div>
</div>
