{% extends "layout-page.twig" %}
{% block content %}

<section class="section-how-can-we-help">
	<div class="how-can-we-help-inner">
		<div class="container">
			{{post.post_content}}
		</div>
	</div>
</section>

<section class="section-our-team">
	<div class="our-team-inner">
		<div class="container">
			<h2 class="text-center">{{data.our_team_heading}}</h2>
			<p class="help-p1 text-center">
				{{data.our_team_sub_heading}}
			</p>
			<div class="our-team-slider">
				<div id="aboutusTeamCarousel" class="carousel slide" data-ride="carousel">
				  <ol class="carousel-indicators">
				    <li data-target="#aboutusTeamCarousel" data-slide-to="0" class="active"></li>
				    <li data-target="#aboutusTeamCarousel" data-slide-to="1"></li>
				    <li data-target="#aboutusTeamCarousel" data-slide-to="2"></li>
				  </ol>
				  <div class="carousel-inner" role="listbox">
					{% for ourtem_post in data.ourteam_posts %}

					{% if loop.index == 1 %}
						<div class="item active">
					{% else %}
						<div class="item">
					{% endif %}

				      <div class="img-wrapper our_team_wrapper" style="background-image: url({{ ourtem_post.team_image_url }});">
				      </div>
				      <h5 class="text-left our-team-image-title">{{ ourtem_post.post_title }}</h5>
				      <p class="text-left our-team-image-sub-title">{{ ourtem_post.image_description }}</p>
				    </div>
				    {% endfor %}
					  <a class="left carousel-control" href="#aboutusTeamCarousel" role="button" data-slide="prev" style="background-image: url({{ theme.link }}/images/arrow-circle-previous.png)">
					  </a>
					  <a class="right carousel-control" href="#aboutusTeamCarousel" role="button" data-slide="next" style="background-image: url({{ theme.link }}/images/arrow-circle-next.png)">
					  </a>
				  </div>

				</div>
			</div>
		</div>
	</div>
</section>

<section class="section-choose-us">
	<div class="choose-us-inner">
		<div class="container">
			<h2>{{data.why_choose_us_heading}}</h2>
			<p class="help-p1 italic">
				{{data.why_choose_us_sub_heading}}
			</p>
			<div class="col-sm-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
				<div class="row">
					{% for chooseus_item in data.chooseus_posts %}
						<div class="col-sm-6 col-md-3 custom-col-md-3">
						    <div class="thumbnail">
						      <img src="{{ chooseus_item.logo_url }}" alt="no image">
						      <div class="caption">
						        <p class="choose-us-img-p">{{ chooseus_item.post_title }}</p>
						      </div>
						    </div>
						</div>
					{% endfor %}
		  		</div>
			</div>
		</div>
	</div>
</section>

{% include 'block-testimonials.twig' with {'class': 'bg-grey' , 'testimonial_heading': data.testimonial_heading, 'testimonial_sub_heading': data.testimonial_sub_heading, 'testimonials': data.testimonials} %}

{% endblock %}